Flows/Flow2json
[{"id":"d948fb93.7362b8","type":"tab","label":"RPI-DATA","disabled":false,"info":""},{"id":"7b0e5dce.2fe6e4","type":"inject","z":"d948fb93.7362b8","name":"1 min","topic":"tempC","payload":"","payloadType":"str","repeat":"10","crontab":"","once":false,"onceDelay":"","x":88,"y":167,"wires":[["e7e8add0.d5324","93d5aaca.b4b3b8","4b63dfc9.0bc82","7c2aa871.ce10d8","100f74b7.3910cb"]]},{"id":"d3006d1e.4e5a4","type":"comment","z":"d948fb93.7362b8","name":"Read Raspberry Pi cpu temperature","info":"Reads the Raspberry Pi cpu temperature every 15 seconds, \nformats the data to tidy up the string and \nthen sends the data to the IBM Watson IOT platform\n\nAfter deploying the example, open the Watson IoT\nnode and click the link button to take you to the \nQuickstartdashboard for your flow.\n","x":145,"y":82.00000381469727,"wires":[]},{"id":"e7e8add0.d5324","type":"exec","z":"d948fb93.7362b8","command":"vcgencmd measure_temp","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"TEMP_CPU","x":281.0000457763672,"y":196.50004863739014,"wires":[["1f706d2c.dab003","1accc731.3a40b9"],[],[]]},{"id":"1f706d2c.dab003","type":"function","z":"d948fb93.7362b8","name":"Separar_Value","func":"str = msg.payload\nmsg.payload = str.substring(5,9)\nreturn msg;","outputs":1,"noerr":0,"x":465.0000915527344,"y":229.00004768371582,"wires":[["fdce052d.ccc3a8","6f5fe73d.3362c8","1accc731.3a40b9"]]},{"id":"fdce052d.ccc3a8","type":"ui_chart","z":"d948fb93.7362b8","name":"CPU Temp","group":"ea19191.bc623e8","order":3,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"20","ymax":"70","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":657.0001373291016,"y":226.00004768371582,"wires":[[]]},{"id":"93d5aaca.b4b3b8","type":"exec","z":"d948fb93.7362b8","command":"top -d 1 -b -n2 | grep \"Cpu(s)\"| tail -n 1 | awk '{print $2 + $4}'","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"CPU_load","x":279.0000457763672,"y":269.1666736602783,"wires":[["57b02873.ce89a8","57f13329.0ac90c"],[],[]]},{"id":"57b02873.ce89a8","type":"ui_gauge","z":"d948fb93.7362b8","name":"CPU load","group":"6e36aa09.40d1d4","order":3,"width":0,"height":0,"gtype":"gage","title":"CPU Load","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":649.0001392364502,"y":274.00000762939453,"wires":[]},{"id":"6f5fe73d.3362c8","type":"ui_gauge","z":"d948fb93.7362b8","name":"CPU Temp","group":"ea19191.bc623e8","order":1,"width":0,"height":0,"gtype":"gage","title":"CPU Temp","label":"C°","format":"{{value}}","min":0,"max":"70","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":657.0000190734863,"y":180.66669178009033,"wires":[]},{"id":"4b63dfc9.0bc82","type":"Memory","z":"d948fb93.7362b8","name":"","x":261.0000457763672,"y":507.00013732910156,"wires":[["d981a895.f30ec8"]]},{"id":"7c2aa871.ce10d8","type":"Uptime","z":"d948fb93.7362b8","name":"","x":267.0000457763672,"y":433.0000944137573,"wires":[["4b611429.22c62c"]]},{"id":"100f74b7.3910cb","type":"Drives","z":"d948fb93.7362b8","name":"","x":277.0000457763672,"y":337.00000953674316,"wires":[["cd16725f.694"]]},{"id":"cd16725f.694","type":"split","z":"d948fb93.7362b8","name":"obtener_Objetos","splt":",","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":451.00000762939453,"y":355.0000104904175,"wires":[["40d652f5.66290c"]]},{"id":"40d652f5.66290c","type":"function","z":"d948fb93.7362b8","name":"Extraer_Payloads","func":"var msg1,msg2,msg3;\n\nif (msg.payload.filesystem === '/dev/root') {\n\n    msg1 = { payload: msg.payload.used};\n    msg2 = { payload: msg.payload.available };\n    msg3 = { payload: msg.payload.capacity * 100 };\n\n    msg1.topic = \"used\"\n    msg2.topic = \"available\"\n    msg3.topic = \"capacity\"\n\n}\n\nreturn [ msg1, msg2, msg3 ];","outputs":3,"noerr":0,"x":459.0000915527344,"y":433.0000123977661,"wires":[["3837c6b4.6510ba"],["3837c6b4.6510ba"],["1abacf75.fd13c1","8c7ab4a7.8cb5f8"]]},{"id":"1accc731.3a40b9","type":"debug","z":"d948fb93.7362b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":452.5001754760742,"y":628.0003862380981,"wires":[]},{"id":"3837c6b4.6510ba","type":"ui_chart","z":"d948fb93.7362b8","name":"SD Card","group":"a5b14241.dcde3","order":0,"width":0,"height":0,"label":"SD Card","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":691.0000228881836,"y":382.000009059906,"wires":[[]]},{"id":"8c7ab4a7.8cb5f8","type":"ui_gauge","z":"d948fb93.7362b8","name":"SD capacidad","group":"a5b14241.dcde3","order":1,"width":0,"height":0,"gtype":"gage","title":"SD capacidad","label":"%","format":"{{msg.payload | number:1}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":703.0000190734863,"y":430.0000123977661,"wires":[]},{"id":"1abacf75.fd13c1","type":"ui_chart","z":"d948fb93.7362b8","name":"SD capacidad Chart","group":"a5b14241.dcde3","order":2,"width":0,"height":0,"label":"SD capacidad Chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":719.0001411437988,"y":480.00013732910156,"wires":[[]]},{"id":"4b611429.22c62c","type":"split","z":"d948fb93.7362b8","name":"obtener_Objetos","splt":",","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":450.00000762939453,"y":506.00005626678467,"wires":[["dedf8209.c9fb1"]]},{"id":"dedf8209.c9fb1","type":"ui_chart","z":"d948fb93.7362b8","name":"Uptime","group":"ea19191.bc623e8","order":0,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":685.0000190734863,"y":552.0000162124634,"wires":[[]]},{"id":"f63a27b0.fcd9b8","type":"comment","z":"d948fb93.7362b8","name":"Cristian Ramirez B.","info":"Autor of flow","x":101,"y":121.00000286102295,"wires":[]},{"id":"d981a895.f30ec8","type":"function","z":"d948fb93.7362b8","name":"Extraer_Payloads","func":"var msg1,msg2,msg3;\n\n    msg1 = { payload: msg.payload.totalmem};\n    msg2 = { payload: msg.payload.freemem };\n    msg3 = { payload: msg.payload.memusage };\n\n    msg1.topic = \"used\"\n    msg2.topic = \"available\"\n    msg3.topic = \"capacity\"\n\nreturn [ msg1, msg2, msg3 ];","outputs":3,"noerr":0,"x":452.0000915527344,"y":566.0000190734863,"wires":[["dcfe742b.481528"],["dcfe742b.481528"],["650d3b0e.057ca4","917438ca.689928"]]},{"id":"dcfe742b.481528","type":"ui_chart","z":"d948fb93.7362b8","name":"Men Chart","group":"fdc06017.a8706","order":0,"width":0,"height":0,"label":"","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":691.0000190734863,"y":606.6666851043701,"wires":[[]]},{"id":"650d3b0e.057ca4","type":"ui_gauge","z":"d948fb93.7362b8","name":"Capacity","group":"fdc06017.a8706","order":1,"width":0,"height":0,"gtype":"gage","title":"Capacity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":677,"y":652.6666870117188,"wires":[]},{"id":"917438ca.689928","type":"ui_chart","z":"d948fb93.7362b8","name":"RAM Chart","group":"fdc06017.a8706","order":2,"width":0,"height":0,"label":"","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":687.0000190734863,"y":698.6666874885559,"wires":[[]]},{"id":"b694e962.7ab6a8","type":"ui_text","z":"d948fb93.7362b8","group":"9eff76bc.52f398","order":0,"width":"12","height":"2","name":"","label":"Cristian Ramirez B","format":"{{msg.payload}}","layout":"col-center","x":459.00000762939453,"y":160.66670989990234,"wires":[],"inputLabels":["Cristian Ramirez Betancourt"]},{"id":"57f13329.0ac90c","type":"ui_text","z":"d948fb93.7362b8","group":"51d7e6fc.386d68","order":0,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":643,"y":314,"wires":[]},{"id":"ea19191.bc623e8","type":"ui_group","z":"","name":"Uptime","tab":"1f4b04ec.5e11fb","disp":true,"width":"6","collapse":false},{"id":"6e36aa09.40d1d4","type":"ui_group","z":"","name":"CPU Load","tab":"1f4b04ec.5e11fb","disp":true,"width":"6","collapse":false},{"id":"a5b14241.dcde3","type":"ui_group","z":"","name":"SD Card","tab":"1f4b04ec.5e11fb","disp":true,"width":"6","collapse":false},{"id":"fdc06017.a8706","type":"ui_group","z":"","name":"RAM","tab":"1f4b04ec.5e11fb","disp":true,"width":"6","collapse":false},{"id":"9eff76bc.52f398","type":"ui_group","z":"","name":"Sistemas Basados en Redes Móviles","tab":"1f4b04ec.5e11fb","disp":true,"width":"12","collapse":false},{"id":"51d7e6fc.386d68","type":"ui_group","z":"","name":"Temperatura HAT","tab":"2b9f6d01.0d9142","disp":true,"width":"6","collapse":false},{"id":"1f4b04ec.5e11fb","type":"ui_tab","z":"","name":"RPI","icon":"dashboard","disabled":false,"hidden":false},{"id":"2b9f6d01.0d9142","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]
