Flows/Flow1.json
[{"id":"66f79f75.63e59","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"7f4e59ad.27ff98","type":"inject","z":"66f79f75.63e59","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":146.5,"y":496,"wires":[["48ba0485.87165c"]]},{"id":"d26ea66b.a798a8","type":"debug","z":"66f79f75.63e59","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":218.5,"y":623,"wires":[]},{"id":"48ba0485.87165c","type":"function","z":"66f79f75.63e59","name":"funcion x","func":"var msg;\nreturn msg;","outputs":1,"noerr":0,"x":162.5,"y":564,"wires":[["d26ea66b.a798a8"]]}]
