Flows/Flow4.json
[{"id":"d8523ba1.5ee5f8","type":"tab","label":"MQTT_SENSE_HAT_PYTHON","disabled":false,"info":"This flow, get data of sense HAT in RPI using MQTT server\nusing public broker. \n"},{"id":"56906aba.852864","type":"mqtt in","z":"d8523ba1.5ee5f8","name":"S_HAT RPI","topic":"hat/#","qos":"2","datatype":"auto","broker":"1320d689.84e199","x":103.5,"y":341,"wires":[["33029ffd.dc104","299eeee0.be33e2"]]},{"id":"c220abf9.e419a8","type":"comment","z":"d8523ba1.5ee5f8","name":"Cristian Ramirez B.","info":"Autor of flow","x":223,"y":272,"wires":[]},{"id":"3b911bdf.e49a64","type":"ui_text","z":"d8523ba1.5ee5f8","group":"599da4d1.4a90dc","order":3,"width":0,"height":0,"name":"","label":"yaw_giro","format":"{{msg.payload.yaw | number:1}}","layout":"row-spread","x":458.5,"y":260,"wires":[]},{"id":"33029ffd.dc104","type":"switch","z":"d8523ba1.5ee5f8","name":"TOPICs","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"hat/giro","vt":"str"},{"t":"eq","v":"hat/acc","vt":"str"},{"t":"eq","v":"hat/mag","vt":"str"},{"t":"eq","v":"hat/p_bar","vt":"str"},{"t":"eq","v":"hat/temp","vt":"str"},{"t":"eq","v":"hat/hum","vt":"str"}],"checkall":"true","repair":false,"outputs":6,"x":232.5,"y":441,"wires":[["cfb98d81.d2753"],["149476c4.7951f9"],["12b1b3a8.e1106c"],["e93a6ba.40b2498"],["76ef95e9.6357ec"],["5d001750.a05c48"]]},{"id":"cfb98d81.d2753","type":"json","z":"d8523ba1.5ee5f8","name":"","property":"payload","action":"","pretty":false,"x":415.5,"y":179,"wires":[["3b911bdf.e49a64","56fd50d.1014cb","c6c11a1e.23c208"]]},{"id":"56fd50d.1014cb","type":"ui_text","z":"d8523ba1.5ee5f8","group":"599da4d1.4a90dc","order":3,"width":0,"height":0,"name":"","label":"roll_giro","format":"{{msg.payload.roll | number:1}}","layout":"row-spread","x":456,"y":297,"wires":[]},{"id":"c6c11a1e.23c208","type":"ui_text","z":"d8523ba1.5ee5f8","group":"599da4d1.4a90dc","order":3,"width":0,"height":0,"name":"","label":"pitch_giro","format":"{{msg.payload.pitch | number:1}}","layout":"row-spread","x":455,"y":336,"wires":[]},{"id":"149476c4.7951f9","type":"json","z":"d8523ba1.5ee5f8","name":"","property":"payload","action":"","pretty":false,"x":431,"y":389,"wires":[["f56fe58c.c78738","4868656a.d7eecc","7b59e2fe.2fddfc","4201957b.b16c5c"]]},{"id":"12b1b3a8.e1106c","type":"json","z":"d8523ba1.5ee5f8","name":"","property":"payload","action":"","pretty":false,"x":459,"y":568,"wires":[["54be5e29.73edc","fdd836.d96707c8","4027f061.fffa2"]]},{"id":"7b59e2fe.2fddfc","type":"ui_text","z":"d8523ba1.5ee5f8","group":"599da4d1.4a90dc","order":3,"width":0,"height":0,"name":"","label":"pitch_acc","format":"{{msg.payload.pitch | number:1}}","layout":"row-spread","x":456,"y":515,"wires":[]},{"id":"4868656a.d7eecc","type":"ui_text","z":"d8523ba1.5ee5f8","group":"599da4d1.4a90dc","order":3,"width":0,"height":0,"name":"","label":"roll_acc","format":"{{msg.payload.roll | number:1}}","layout":"row-spread","x":457,"y":478,"wires":[]},{"id":"f56fe58c.c78738","type":"ui_text","z":"d8523ba1.5ee5f8","group":"599da4d1.4a90dc","order":3,"width":0,"height":0,"name":"","label":"yaw_acc","format":"{{msg.payload.yaw | number:1}}","layout":"row-spread","x":457.5,"y":437,"wires":[]},{"id":"4027f061.fffa2","type":"ui_text","z":"d8523ba1.5ee5f8","group":"599da4d1.4a90dc","order":3,"width":0,"height":0,"name":"","label":"pitch_mag","format":"{{msg.payload.pitch | number:1}}","layout":"row-spread","x":505,"y":700,"wires":[]},{"id":"fdd836.d96707c8","type":"ui_text","z":"d8523ba1.5ee5f8","group":"599da4d1.4a90dc","order":3,"width":0,"height":0,"name":"","label":"roll_mag","format":"{{msg.payload.roll | number:1}}","layout":"row-spread","x":500,"y":663,"wires":[]},{"id":"54be5e29.73edc","type":"ui_text","z":"d8523ba1.5ee5f8","group":"599da4d1.4a90dc","order":3,"width":0,"height":0,"name":"","label":"yaw_mag","format":"{{msg.payload.yaw | number:1}}","layout":"row-spread","x":502.5,"y":619,"wires":[]},{"id":"e93a6ba.40b2498","type":"json","z":"d8523ba1.5ee5f8","name":"","property":"payload","action":"","pretty":false,"x":447,"y":748,"wires":[["d04626f3.c29a08","8f94b401.417938"]]},{"id":"76ef95e9.6357ec","type":"json","z":"d8523ba1.5ee5f8","name":"","property":"payload","action":"","pretty":false,"x":452,"y":786,"wires":[["e5f71e8e.d7edd","767b75aa.edb91c"]]},{"id":"5d001750.a05c48","type":"json","z":"d8523ba1.5ee5f8","name":"","property":"payload","action":"","pretty":false,"x":447,"y":821,"wires":[["38e3241b.6b29dc","f735d95b.2ee208"]]},{"id":"d04626f3.c29a08","type":"ui_text","z":"d8523ba1.5ee5f8","group":"599da4d1.4a90dc","order":3,"width":0,"height":0,"name":"","label":"p_bar","format":"{{msg.payload | number:1}}","layout":"row-spread","x":564,"y":749,"wires":[]},{"id":"e5f71e8e.d7edd","type":"ui_text","z":"d8523ba1.5ee5f8","group":"599da4d1.4a90dc","order":3,"width":0,"height":0,"name":"temp","label":"temp","format":"{{msg.payload | number:1}}","layout":"row-spread","x":565,"y":785,"wires":[]},{"id":"38e3241b.6b29dc","type":"ui_text","z":"d8523ba1.5ee5f8","group":"599da4d1.4a90dc","order":3,"width":0,"height":0,"name":"hum","label":"Humidity","format":"{{msg.payload | number:1}}","layout":"row-spread","x":563,"y":823,"wires":[]},{"id":"4201957b.b16c5c","type":"split","z":"d8523ba1.5ee5f8","name":"obtener_Objetos","splt":",","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":617,"y":388,"wires":[[]]},{"id":"8f94b401.417938","type":"ui_gauge","z":"d8523ba1.5ee5f8","name":"","group":"608cf456.2cca5c","order":3,"width":0,"height":0,"gtype":"gage","title":"Press","label":"units","format":"{{msg.payload | number:1}}","min":0,"max":"1500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":698.5,"y":750,"wires":[]},{"id":"767b75aa.edb91c","type":"ui_gauge","z":"d8523ba1.5ee5f8","name":"","group":"608cf456.2cca5c","order":4,"width":0,"height":0,"gtype":"gage","title":"Temp","label":"C°","format":"{{msg.payload | number:1}}","min":0,"max":"70","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":700,"y":789,"wires":[]},{"id":"f735d95b.2ee208","type":"ui_gauge","z":"d8523ba1.5ee5f8","name":"","group":"608cf456.2cca5c","order":5,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{msg.payload | number:1}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":708,"y":826,"wires":[]},{"id":"a4b21d0d.a8082","type":"ui_button","z":"d8523ba1.5ee5f8","name":"","group":"979353cc.ac57b","order":0,"width":0,"height":0,"passthru":false,"label":"Read Values","tooltip":"Read","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":150.5,"y":702,"wires":[["ea889fd.c974e6"]]},{"id":"ea889fd.c974e6","type":"exec","z":"d8523ba1.5ee5f8","command":"python /home/pi/projects/Servidor/pyhat.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":241,"y":880.5,"wires":[[],[],[]]},{"id":"299eeee0.be33e2","type":"debug","z":"d8523ba1.5ee5f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":151.5,"y":525,"wires":[]},{"id":"1320d689.84e199","type":"mqtt-broker","z":"","name":"Broker mqtt open ","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"599da4d1.4a90dc","type":"ui_group","z":"","name":"DATA HAT","tab":"2b9f6d01.0d9142","disp":true,"width":"8","collapse":false},{"id":"608cf456.2cca5c","type":"ui_group","z":"","name":"Variables del ambiente","tab":"2b9f6d01.0d9142","disp":true,"width":"6","collapse":false},{"id":"979353cc.ac57b","type":"ui_group","z":"","name":"Control","tab":"2b9f6d01.0d9142","disp":true,"width":"6","collapse":false},{"id":"2b9f6d01.0d9142","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]
