Flows/Flow3.json
[{"id":"d766e2cc.f40c4","type":"tab","label":"Sense_hat_node","disabled":false,"info":"Dashboard for sensor of sense HAT, using node."},{"id":"45f0e325.41b72c","type":"rpi-sensehat in","z":"d766e2cc.f40c4","name":"","motion":true,"env":true,"stick":false,"x":87,"y":275.00000762939453,"wires":[["9874efab.f37f3"]]},{"id":"9874efab.f37f3","type":"switch","z":"d766e2cc.f40c4","name":"Sensors","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"environment","vt":"str"},{"t":"eq","v":"motion","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":238.50000381469727,"y":276.00000762939453,"wires":[["e7eb4632.7f4808","214dc92b.564ab6","e5bda645.ed0148"],["56532555.ad19ac","b8b72e59.5cfba","a0af229c.f60e7","20fdda3a.a82456"]]},{"id":"e7eb4632.7f4808","type":"change","z":"d766e2cc.f40c4","name":"temp","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.temperature","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":456.5,"y":89,"wires":[["88ce2d9.34c57d"]]},{"id":"214dc92b.564ab6","type":"change","z":"d766e2cc.f40c4","name":"hum","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":453,"y":145,"wires":[["8f84f3e3.a0e72"]]},{"id":"e5bda645.ed0148","type":"change","z":"d766e2cc.f40c4","name":"atm","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.pressure","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":459.0000114440918,"y":210.0000057220459,"wires":[["99d15de4.8bb18"]]},{"id":"88ce2d9.34c57d","type":"smooth","z":"d766e2cc.f40c4","name":"","property":"payload","action":"mean","count":"10","round":"2","mult":"single","x":600.5,"y":85,"wires":[["c3754f1a.ec652","cc3ae926.d986a8"]]},{"id":"8f84f3e3.a0e72","type":"smooth","z":"d766e2cc.f40c4","name":"","property":"payload","action":"mean","count":"10","round":"2","mult":"single","x":600.5000152587891,"y":160.00000381469727,"wires":[["6f1e4556.fcae8c","c2cf1bd9.6c0638"]]},{"id":"99d15de4.8bb18","type":"smooth","z":"d766e2cc.f40c4","name":"","property":"payload","action":"mean","count":"10","round":"2","mult":"single","x":598.5000152587891,"y":232.0000057220459,"wires":[["78c82c4d.f11ea4","b268ecab.26cae"]]},{"id":"c3754f1a.ec652","type":"ui_gauge","z":"d766e2cc.f40c4","name":"Termometro","group":"51d7e6fc.386d68","order":1,"width":0,"height":0,"gtype":"gage","title":"Termometro","label":"째C","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":777.5,"y":59,"wires":[]},{"id":"cc3ae926.d986a8","type":"ui_chart","z":"d766e2cc.f40c4","name":"Temperatura","group":"51d7e6fc.386d68","order":2,"width":"0","height":"0","label":"Temperatura","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#008000","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":778.5000228881836,"y":100.00000286102295,"wires":[[]]},{"id":"6f1e4556.fcae8c","type":"ui_gauge","z":"d766e2cc.f40c4","name":"Humedad","group":"90690d5c.6461e","order":1,"width":0,"height":0,"gtype":"gage","title":"Humedad","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":772.5000228881836,"y":150.00000381469727,"wires":[]},{"id":"78c82c4d.f11ea4","type":"ui_gauge","z":"d766e2cc.f40c4","name":"Presion ","group":"43c013ee.2e30bc","order":1,"width":0,"height":0,"gtype":"gage","title":"Presion ","label":"Pascal","format":"{{value}}","min":0,"max":"1500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":771.500020980835,"y":249.00000476837158,"wires":[]},{"id":"56532555.ad19ac","type":"change","z":"d766e2cc.f40c4","name":"aceleracion","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.acceleration","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":512,"y":385,"wires":[["6553da06.987724","1c03bce9.7d7b43"]]},{"id":"b8b72e59.5cfba","type":"change","z":"d766e2cc.f40c4","name":"giroscopio","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.gyroscope","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":438,"wires":[["29c9d49a.bd219c"]]},{"id":"a0af229c.f60e7","type":"change","z":"d766e2cc.f40c4","name":"orientacion","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.orientation","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":517,"y":491,"wires":[["9ec01f5e.390ed"]]},{"id":"20fdda3a.a82456","type":"change","z":"d766e2cc.f40c4","name":"compas","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.compass","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":507,"y":546,"wires":[["7fb3f0ba.6e68e"]]},{"id":"6553da06.987724","type":"ui_text","z":"d766e2cc.f40c4","group":"f2e6865a.5a28b8","order":0,"width":0,"height":0,"name":"aceleracion","label":"Aceleracion","format":"{{msg.payload}}","layout":"row-spread","x":684.5,"y":392,"wires":[]},{"id":"29c9d49a.bd219c","type":"ui_text","z":"d766e2cc.f40c4","group":"f2e6865a.5a28b8","order":1,"width":0,"height":0,"name":"giroscopio","label":"giroscopio","format":"{{msg.payload}}","layout":"row-spread","x":681.5,"y":438,"wires":[]},{"id":"9ec01f5e.390ed","type":"ui_text","z":"d766e2cc.f40c4","group":"f2e6865a.5a28b8","order":2,"width":0,"height":0,"name":"orientacion","label":"orientacion","format":"{{msg.payload}}","layout":"row-spread","x":680.5,"y":495,"wires":[]},{"id":"a3cc4f9c.6e32e","type":"comment","z":"d766e2cc.f40c4","name":"SENSE HAT","info":"Leemos todas las variables del SENSE-HAT, usando su libreria ya \nincluida en Node-RED.\n\nMostramos el uso de graficas y como se realizan. \n","x":85.5,"y":37,"wires":[]},{"id":"429ebc49.a41d64","type":"comment","z":"d766e2cc.f40c4","name":"Motion Sensor","info":"","x":522.5000152587891,"y":322.00000953674316,"wires":[]},{"id":"604c9e48.406d2","type":"comment","z":"d766e2cc.f40c4","name":"Varibles ambientales","info":"","x":590.5,"y":27,"wires":[]},{"id":"1c03bce9.7d7b43","type":"debug","z":"d766e2cc.f40c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":728.5000228881836,"y":337.00000762939453,"wires":[]},{"id":"7fb3f0ba.6e68e","type":"ui_gauge","z":"d766e2cc.f40c4","name":"Compas","group":"e5ecd324.f7838","order":0,"width":0,"height":0,"gtype":"compass","title":"Compas","label":"","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":671.0000152587891,"y":550.0000171661377,"wires":[]},{"id":"c2cf1bd9.6c0638","type":"ui_chart","z":"d766e2cc.f40c4","name":"Humedad Chart","group":"90690d5c.6461e","order":2,"width":"0","height":"0","label":"Humedad","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#80ffff","#aec7e8","#ffab57","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":790.0000190734863,"y":196.0000057220459,"wires":[[]]},{"id":"b268ecab.26cae","type":"ui_chart","z":"d766e2cc.f40c4","name":"Preci처n","group":"43c013ee.2e30bc","order":2,"width":"0","height":"0","label":"Preci처n","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#ff0000","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#db3737","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":772.0000228881836,"y":290.00000762939453,"wires":[[]]},{"id":"4fae896d.564058","type":"ui_text","z":"d766e2cc.f40c4","group":"e3776817.a0de48","order":0,"width":"6","height":"1","name":"","label":"Cristian Ramirez B.","format":"{{msg.payload}}","layout":"col-center","x":102.00001525878906,"y":230.00001335144043,"wires":[],"inputLabels":["Cristian Ramirez Betancourt"]},{"id":"51d7e6fc.386d68","type":"ui_group","z":"","name":"Temperatura HAT","tab":"2b9f6d01.0d9142","disp":true,"width":"6","collapse":false},{"id":"90690d5c.6461e","type":"ui_group","z":"","name":"Humedad HAT","tab":"2b9f6d01.0d9142","disp":true,"width":"6","collapse":false},{"id":"43c013ee.2e30bc","type":"ui_group","z":"","name":"Presion HAT","tab":"2b9f6d01.0d9142","disp":true,"width":"6","collapse":false},{"id":"f2e6865a.5a28b8","type":"ui_group","z":"","name":"Motion sensors","tab":"2b9f6d01.0d9142","disp":true,"width":"12","collapse":false},{"id":"e5ecd324.f7838","type":"ui_group","z":"","name":"Compass","tab":"2b9f6d01.0d9142","disp":true,"width":"6","collapse":false},{"id":"e3776817.a0de48","type":"ui_group","z":"","name":"Sistemas Basados en Redes M처viles SenseHAT","tab":"2b9f6d01.0d9142","disp":true,"width":"8","collapse":false},{"id":"2b9f6d01.0d9142","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]
